/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/campton');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/* document */
*, *::after, *::before {
    box-sizing: border-box;
}

html,body,div,span,ul,li,a{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /* web font + system font */
    font-family: 'Roboto', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
    letter-spacing: -.02rem;
    color: #f4ece4;
    /* smoothing font */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html{
    /* 1rem = 10px */
    font-size: 62.5%;
 }

 body {
    font-size: 1.6rem; /* 16px */
}



img {
    /* remove the border on images inside links in IE 10 */
    border-style: none;
}

/* list style --------------------------- */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}




.sub-wrap .sub-con .nav-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul{
    list-style: none;
}


/* header */
#header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
}

.sub-wrap {
    width: 100%;
    background-color:#04152b;
}
    
.sub-wrap .sub-con {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 128rem; 
    height: 3.6rem; 
    padding:0 4rem;
    margin: 0 auto;
}

.sub-wrap .sub-con .site-tab {
display: flex; 
align-items: center;
height: 100%;
}

.sub-wrap .sub-con .site-tab > li {
    height: 100%; 
    line-height: 3.6rem;
    padding: 0 2rem;
    font-size: 1.2rem; color: #fff;
}

.sub-wrap .sub-con .site-tab > li.active {
    background-color: #071d3d;
}

.sub-wrap .sub-con .user-tab {
    display: flex; 
    align-items: center;
}

.sub-wrap .sub-con .user-tab > li {
    position: relative;
    padding: 0 1rem; 
    font-size: 1.2rem; 
    color: #fff; 
}

.sub-wrap .sub-con .user-tab > li + li::before {
    content: ''; 
    position: absolute; 
    top: 50%; left: 0; 
    width: .1rem; 
    height: 1rem; 
    background-color: rgba(255,255,255,0.5); 
    -webkit-transform: translateY(-50%); 
    -moz-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    -o-transform: translateY(-50%); 
    transform: translateY(-50%);
}

.sub-wrap .sub-con .user-tab > li .cart-count {
    display: inline-block; 
    width: 2rem; 
    height: 2rem; 
    line-height: 2rem; 
    margin-left: .7rem; 
    background-color: #5b8ebd; 
    border-radius: 100%; 
    text-align: center; 
    font-size: 1.2rem; 
    color: #fff;
}

.nav-wrap {
    width: 100%; 
    background-color: #071d3d;
}

.nav-wrap .nav-con {
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 128rem; 
    height: 9.4rem; 
    padding: 0 4rem; 
    margin: 0 auto;
}

.nav-wrap .nav-con > img {
    height: 4rem;
}

.nav-wrap .nav-con .gnb-wrap {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-top: .6rem;   
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.nav-wrap .nav-con .gnb-wrap > li {
    font-size: 1.6rem; 
    olor: #fff; 
    font-weight: 500; 
    padding: 0 6rem; 
    cursor: pointer;
}

.nav-wrap .nav-con .gnb-sns > li {
    display: flex; 
    align-items: center; 
    cursor: pointer;
}